.team-img {
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-img img:hover {
    transform: scale(1.05);
}

.single-team-item {
    text-align: center;
    margin-bottom: 30px;
}